parlament.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://parlament.cat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="source">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="session" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="session_title" type="xs:string" />
              <xs:element name="transcription_url" type="xs:string" />
              <xs:element name="sequence" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sequence_title" type="xs:string" />
                    <xs:element name="intervention" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="intervention_title" type="xs:string" />
                          <xs:element name="speaker" type="xs:string" />
                          <xs:element name="speaker_title" type="xs:string" />
                          <xs:element name="media_url">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string" >
                                  <xs:attribute name="media_start" type="xs:dateTime" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="intervention_start" type="xs:dateTime" use="required"/>
                        <xs:attribute name="intervention_duration" type="xs:duration" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                <xs:attribute name="sequence_start" type="xs:dateTime" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" type="xs:string" use="required" />
          <xs:attribute name="description" type="xs:string" use="required" />
          <xs:attribute name="date" type="xs:date" use="required" />
          <xs:attribute name="id" type="xs:string" use="required" />
        </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
